<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mdtg.robot.module.user.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.mdtg.robot.module.user.entity.Role">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="description" column="description"/>
        <result property="permissionIds" column="permission_ids"/>
        <result property="type" column="type"/>
        <result property="createBy" column="create_by"/>
        <result property="createName" column="create_name"/>
        <result property="createDate" column="create_date"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateName" column="update_name"/>
        <result property="updateDate" column="update_date"/>
        <result property="deleteFlag" column="delete_flag"/>
    </resultMap>

    <sql id="Role_Column_List">
        id,code,description,permission_ids,type,create_by,
        create_name,create_date,update_by,update_name,update_date,
        delete_flag
    </sql>
</mapper>
