<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.DeviceMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Device">
            <id property="id" column="id" />
            <result property="alias" column="alias" />
            <result property="macAddress" column="mac_address" />
            <result property="board" column="board" />
            <result property="firmwareVersion" column="firmware_version" />
            <result property="lastConnectionTime" column="Last_connection_time" />
            <result property="autoUpdate" column="auto_update" />
            <result property="type" column="type" />
            <result property="bindingId" column="binding_id" />
            <result property="aiDeviceId" column="ai_device_id" />
            <result property="updateBy" column="update_by" />
            <result property="updateName" column="update_name" />
            <result property="updateDate" column="update_date" />
            <result property="createBy" column="create_by" />
            <result property="createName" column="create_name" />
            <result property="createDate" column="create_date" />
            <result property="companyCode" column="company_code" />
            <result property="companyName" column="company_name" />
            <result property="secondOrgCode" column="second_org_code" />
            <result property="secondOrgName" column="second_org_name" />
            <result property="orgCode" column="org_code" />
            <result property="orgName" column="org_name" />
            <result property="deleteFlag" column="delete_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        id,alias,mac_address,board,firmware_version,Last_connection_time,
        auto_update,type,binding_id,ai_device_id,update_by,
        update_name,update_date,create_by,create_name,create_date,
        company_code,company_name,second_org_code,second_org_name,org_code,
        org_name,delete_flag
    </sql>
</mapper>
